@import url('https://framer-ui.netlify.app/components/framer.css');

:root{
   
    --border-black-op: rgba(0,0,0,0.1);
}

.nav{
    padding: 1rem;
    color: var(--txt-col-black);
}
.nav-zindex{
    z-index: 999;
}

.navbar-bg{
    padding: 1rem 1rem 0;
    border-bottom: 1px solid var(--border-black-op);
  }

  .col-black{
      color: var(--col-dark);
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

.solid {
    background-color:#1A202C;
    transition: background-color 0s ease 0s;
    box-shadow: 0 0 0.8rem rgb(0, 0, 0);
  }
  
.actives{
    color: var(--txt-col-white);
    text-decoration: none;

}

.inactives{
    color: rgba(255, 255, 255, 0.634);
    text-decoration: none;
}